<a href="https://colab.research.google.com/github/KhafidhotulUrfa/MSIB_Project/blob/main/Siena_CleaningData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import google drive
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Load Data Setiap Kode Saham

In [ ]:
url_bmhs = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/BMHS.JK.csv'
load_bmhs = pd.read_csv(url_bmhs)
load_bmhs.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close      Volume
0       BMHS   8/1/2021  1100  1130   950   1115  1110.248047   752667200
1       BMHS   9/1/2021  1080  1155  1030   1095  1090.333252  1141932900
2       BMHS  10/1/2021  1085  1095   875    905   901.143005   892012600
3       BMHS  11/1/2021   905   935   830    855   851.356140  1239137600
4       BMHS  12/1/2021   855   900   785    830   826.462646   787451600

In [ ]:
url_dvla = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/DVLA.JK.csv'
load_dvla = pd.read_csv(url_dvla)
load_dvla.head()

  Kode Saham       Date    Open    High     Low   Close    Adj Close    Volume
0       DVLA   7/1/2018  1950.0  1970.0  1900.0  1920.0  1616.790527   39900.0
1       DVLA   8/1/2018  1920.0  1965.0  1900.0  1945.0  1637.842407   25300.0
2       DVLA   9/1/2018  1945.0  1980.0  1900.0  1930.0  1625.211304  125300.0
3       DVLA  10/1/2018  1940.0  1965.0  1880.0  1945.0  1637.842407  174600.0
4       DVLA  11/1/2018  1945.0  1985.0  1900.0  1980.0  1699.903931   11100.0

In [ ]:
url_heal = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/HEAL.JK.csv'
load_heal = pd.read_csv(url_heal)
load_heal.head()

  Kode Saham       Date  Open  High  Low  Close   Adj Close    Volume
0       HEAL   7/1/2018   706   720  668    676  664.701599  50146500
1       HEAL   8/1/2018   678   688  656    688  676.501038  20770000
2       HEAL   9/1/2018   684   700  628    658  647.002380  13719500
3       HEAL  10/1/2018   668   680  624    634  623.403564  12818500
4       HEAL  11/1/2018   638   646  600    610  599.804688  13024500

In [ ]:
url_inaf = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/INAF.JK.csv'
load_inaf = pd.read_csv(url_inaf)
load_inaf.head()

  Kode Saham       Date  Open  High   Low  Close  Adj Close    Volume
0       INAF   7/1/2018  3800  3800  3000   3100       3100   3656400
1       INAF   8/1/2018  3050  3400  2990   3000       3000   1679600
2       INAF   9/1/2018  3050  5900  2750   5900       5900  10170100
3       INAF  10/1/2018  5500  5500  3900   3900       3900   1128600
4       INAF  11/1/2018  3920  5000  3900   4400       4400   1253400

In [ ]:
url_kaef = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/KAEF.JK.csv'
load_kaef = pd.read_csv(url_kaef)
load_kaef.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close    Volume
0       KAEF   7/1/2018  2360  2590  2110   2330  2292.517090  11490500
1       KAEF   8/1/2018  2340  2480  2300   2360  2322.034424   3360400
2       KAEF   9/1/2018  2360  2730  2010   2550  2508.977783   5887200
3       KAEF  10/1/2018  2470  2600  2300   2450  2410.586670  12336200
4       KAEF  11/1/2018  2460  2660  2450   2500  2459.782227  10084300

In [ ]:
url_klbf = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/KLBF.JK.csv'
load_klbf = pd.read_csv(url_klbf)
load_klbf.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close     Volume
0       KLBF   7/1/2018  1240  1325  1195   1295  1176.893799  304424500
1       KLBF   8/1/2018  1300  1365  1210   1345  1222.333374  381802800
2       KLBF   9/1/2018  1345  1390  1190   1380  1254.141479  329103100
3       KLBF  10/1/2018  1350  1395  1240   1370  1245.053467  357355800
4       KLBF  11/1/2018  1370  1625  1315   1525  1385.917236  743153100

In [ ]:
url_mika = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/MIKA.JK.csv'
load_mika = pd.read_csv(url_mika)
load_mika.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close    Volume
0       MIKA   7/1/2018  1880  2080  1845   2000  1884.953125  91254900
1       MIKA   8/1/2018  2000  2040  1765   1825  1720.019775  72463500
2       MIKA   9/1/2018  1825  1850  1600   1745  1644.621582  69692600
3       MIKA  10/1/2018  1750  1825  1370   1430  1347.741577  66100500
4       MIKA  11/1/2018  1445  1620  1400   1590  1498.537720  52495900

In [ ]:
url_mtmh = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/MTMH.JK.csv'
load_mtmh = pd.read_csv(url_mtmh)
load_mtmh.head()

  Kode Saham      Date  Open  High   Low  Close  Adj Close     Volume
0       MTMH  5/1/2022  1620  2210  1555   2210       2210  294314500
1       MTMH  6/1/2022  2220  2680  2210   2450       2450  207026500
2       MTMH  7/1/2022  2440  2770  2340   2690       2690  173897300
3       MTMH  8/1/2022  2690  2710  2020   2070       2070  201152100
4       MTMH  9/1/2022  2060  2200  1895   1925       1925  230926800

In [ ]:
url_omed = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/OMED.JK.csv'
load_omed = pd.read_csv(url_omed)
load_omed.head()

  Kode Saham       Date  Open  High  Low  Close  Adj Close      Volume
0       OMED  12/1/2022   256   262  196    212        212  2105740400
1       OMED   1/1/2023   214   238  206    210        210  2494824700
2       OMED   2/1/2023   210   220  195    196        196  1644977500
3       OMED   3/1/2023   196   210  195    198        198   965251900
4       OMED   4/1/2023   198   202  187    198        198   239647500

In [ ]:
url_peha = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/PEHA.JK.csv'
load_peha = pd.read_csv(url_peha)
load_peha.head()

  Kode Saham      Date  Open  High   Low  Close    Adj Close   Volume
0       PEHA  1/1/2019  2810  3650  2300   2300  2005.286865  2830400
1       PEHA  2/1/2019  2300  3100  2050   2060  1796.039673  3442000
2       PEHA  3/1/2019  2070  2800  2040   2330  2031.442993  3255400
3       PEHA  4/1/2019  2330  2330  2130   2210  2011.808594   688100
4       PEHA  5/1/2019  2210  2270  1530   1905  1734.160767  1291900

In [ ]:
url_prda = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/PRDA.JK.csv'
load_prda = pd.read_csv(url_prda)
load_prda.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close   Volume
0       PRDA   7/1/2018  3000  3100  2500   2700  2211.849854   764800
1       PRDA   8/1/2018  2700  3090  2630   2880  2359.306885   202500
2       PRDA   9/1/2018  2880  3120  2500   2890  2367.498779   470100
3       PRDA  10/1/2018  2850  2850  2270   2450  2007.048828  1635900
4       PRDA  11/1/2018  2290  2350  1995   2100  1720.327759  1800300

In [ ]:
url_rsgk = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/RSGK.JK.csv'
load_rsgk = pd.read_csv(url_rsgk)
load_rsgk.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close    Volume
0       RSGK  10/1/2021  1710  1805  1650   1720  1617.277710   4532200
1       RSGK  11/1/2021  1720  1755  1655   1695  1593.770752  63110100
2       RSGK  12/1/2021  1695  1720  1650   1705  1603.173584   4291100
3       RSGK   1/1/2022  1705  1720  1485   1570  1476.236084   2480500
4       RSGK   2/1/2022  1570  1665  1480   1535  1443.326294    351100

In [ ]:
url_same = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/SAME.JK.csv'
load_same = pd.read_csv(url_same)
load_same.head()

  Kode Saham       Date   Open   High    Low  Close  Adj Close    Volume
0       SAME   7/1/2018  560.0  575.0  480.0  515.0      515.0  57275500
1       SAME   8/1/2018  515.0  565.0  500.0  560.0      560.0  38846900
2       SAME   9/1/2018  555.0  570.0  500.0  545.0      545.0  31002200
3       SAME  10/1/2018  545.0  565.0  500.0  515.0      515.0  27781700
4       SAME  11/1/2018  515.0  540.0  505.0  530.0      530.0  41687000

In [ ]:
url_sido = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/SIDO.JK.csv'
load_sido = pd.read_csv(url_sido)
load_sido.head()

,Kode Saham,Date,Open,High,Low,Close,Adj Close,Volume
0,SIDO,7/1/2018,387.045288,426.742249,352.310455,406.893768,315.742584,147708855
1,SIDO,8/1/2018,406.893768,434.185425,367.196808,411.855896,319.593109,117331312
2,SIDO,9/1/2018,411.855896,434.185425,396.969543,416.818024,323.443695,147898494
3,SIDO,10/1/2018,416.818024,426.742249,387.045288,396.969543,308.041565,98196944
4,SIDO,11/1/2018,396.969543,419.299072,392.007416,419.299072,325.368896,70264324

In [ ]:
url_silo = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/SILO.JK.csv'
load_silo = pd.read_csv(url_silo)
load_silo.head()

,Kode Saham,Date,Open,High,Low,Close,Adj Close,Volume
0,SILO,7/1/2018,628.125,659.375,390.00,390.0,376.839569,220212000
1,SILO,8/1/2018,390.000,400.000,312.50,387.5,374.423950,414124000
2,SILO,9/1/2018,382.500,403.750,337.50,365.0,352.683197,113508000
3,SILO,10/1/2018,365.000,376.250,286.25,287.5,277.798431,56170400
4,SILO,11/1/2018,292.500,393.750,287.50,370.0,357.514496,107847200

In [ ]:
url_soho = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/SOHO.JK.csv'
load_soho = pd.read_csv(url_soho)
load_soho.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close   Volume
0       SOHO  10/1/2020  8275  8275  4700   6050  5231.948730  3679100
1       SOHO  11/1/2020  6150  6800  4920   4980  4306.628906   551700
2       SOHO  12/1/2020  4980  5500  4510   4600  3978.010010   181300
3       SOHO   1/1/2021  4600  7750  4420   4840  4185.558594  2081200
4       SOHO   2/1/2021  4840  5125  4690   4840  4185.558594   290500

In [ ]:
url_sraj = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/SRAJ.JK.csv'
load_sraj = pd.read_csv(url_sraj)
load_sraj.head()

  Kode Saham       Date  Open  High  Low  Close  Adj Close    Volume
0       SRAJ   7/1/2018   202   202  175    200        200    127900
1       SRAJ   8/1/2018   200   200  198    200        200     22000
2       SRAJ   9/1/2018   200   200  119    179        179  51553300
3       SRAJ  10/1/2018   179   194  148    194        194   1300000
4       SRAJ  11/1/2018   194   204  170    174        174    334500

In [ ]:
url_tspc = '/content/drive/MyDrive/Colab Notebooks/MSIB/Dataset Tugas Akhir/Data Saham/TSPC.JK.csv'
load_tspc = pd.read_csv(url_tspc)
load_tspc.head()

  Kode Saham       Date  Open  High   Low  Close    Adj Close   Volume
0       TSPC   7/1/2018  1555  1600  1490   1500  1267.961304  5798300
1       TSPC   8/1/2018  1500  1500  1450   1480  1251.055054  2578000
2       TSPC   9/1/2018  1480  1515  1385   1405  1187.657104  5606800
3       TSPC  10/1/2018  1410  1500  1345   1380  1166.524536  3820100
4       TSPC  11/1/2018  1380  1415  1350   1395  1179.204102  5122700

## Menggabungkan Dataset

In [ ]:
frames = [load_bmhs, load_dvla, load_heal, load_inaf, load_kaef, load_klbf, load_mika, load_mtmh,
          load_omed, load_peha, load_prda, load_rsgk, load_same, load_sido, load_silo, load_soho,
          load_sraj, load_tspc]
result = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [ ]:
result

,Kode Saham,Date,Open,High,Low,Close,Adj Close,Volume
0,BMHS,8/1/2021,1100.0,1130.0,950.0,1115.0,1110.248047,7.526672e+08
1,BMHS,9/1/2021,1080.0,1155.0,1030.0,1095.0,1090.333252,1.141933e+09
2,BMHS,10/1/2021,1085.0,1095.0,875.0,905.0,901.143005,8.920126e+08
3,BMHS,11/1/2021,905.0,935.0,830.0,855.0,851.356140,1.239138e+09
4,BMHS,12/1/2021,855.0,900.0,785.0,830.0,826.462646,7.874516e+08
...,...,...,...,...,...,...,...,...
868,TSPC,2/1/2023,1405.0,1425.0,1385.0,1390.0,1390.000000,9.086000e+06
869,TSPC,3/1/2023,1395.0,1440.0,1340.0,1405.0,1405.000000,1.979510e+07
870,TSPC,4/1/2023,1415.0,1415.0,1375.0,1400.0,1400.000000,3.518130e+07
871,TSPC,5/1/2023,1425.0,1510.0,1360.0,1455.0,1455.000000,1.798238e+08
872,TSPC,6/1/2023,1460.0,1465.0,1405.0,1425.0,1425.000000,1.713630e+07

In [ ]:
# Export to Excel
from google.colab import files

xlsx = result.to_excel('dataset_saham_kesehatan1.xlsx')
files.download('dataset_saham_kesehatan1.xlsx')

## Menambahkan Kolom Return

In [ ]:
result['Return'] = result.groupby('Kode Saham')['Close'].pct_change()

result.head()

,Kode Saham,Date,Open,High,Low,Close,Adj Close,Volume,Return
0,BMHS,8/1/2021,1100.0,1130.0,950.0,1115.0,1110.248047,7.526672e+08,NaN
1,BMHS,9/1/2021,1080.0,1155.0,1030.0,1095.0,1090.333252,1.141933e+09,-0.017937
2,BMHS,10/1/2021,1085.0,1095.0,875.0,905.0,901.143005,8.920126e+08,-0.173516
3,BMHS,11/1/2021,905.0,935.0,830.0,855.0,851.356140,1.239138e+09,-0.055249
4,BMHS,12/1/2021,855.0,900.0,785.0,830.0,826.462646,7.874516e+08,-0.029240

## Mengisi Missing Value Pada Return

In [ ]:
result['Return'].isnull().sum()

18

In [ ]:
result['Return'].fillna(0, inplace=True)

result['Return'].isnull().sum()

0

## Menghapus Data yang Bernilai Null

In [ ]:
result.isnull().sum()

Kode Saham    0
Date          0
Open          1
High          1
Low           1
Close         1
Adj Close     1
Volume        1
Return        0
dtype: int64

In [ ]:
result = result.dropna()

In [ ]:
result.isnull().sum()

Kode Saham    0
Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
Return        0
dtype: int64

## Menambahkan Kolom Moving Average

In [ ]:
result['MA'] = result.groupby('Kode Saham')['Close'].transform(lambda x: x.rolling(3, 1).mean())

result

<ipython-input-30-d7ae904a366e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['MA'] = result.groupby('Kode Saham')['Close'].transform(lambda x: x.rolling(3, 1).mean())

,Kode Saham,Date,Open,High,Low,Close,Adj Close,Volume,Return,MA
0,BMHS,8/1/2021,1100.0,1130.0,950.0,1115.0,1110.248047,7.526672e+08,0.000000,1115.000000
1,BMHS,9/1/2021,1080.0,1155.0,1030.0,1095.0,1090.333252,1.141933e+09,-0.017937,1105.000000
2,BMHS,10/1/2021,1085.0,1095.0,875.0,905.0,901.143005,8.920126e+08,-0.173516,1038.333333
3,BMHS,11/1/2021,905.0,935.0,830.0,855.0,851.356140,1.239138e+09,-0.055249,951.666667
4,BMHS,12/1/2021,855.0,900.0,785.0,830.0,826.462646,7.874516e+08,-0.029240,863.333333
...,...,...,...,...,...,...,...,...,...,...
868,TSPC,2/1/2023,1405.0,1425.0,1385.0,1390.0,1390.000000,9.086000e+06,-0.010676,1401.666667
869,TSPC,3/1/2023,1395.0,1440.0,1340.0,1405.0,1405.000000,1.979510e+07,0.010791,1400.000000
870,TSPC,4/1/2023,1415.0,1415.0,1375.0,1400.0,1400.000000,3.518130e+07,-0.003559,1398.333333
871,TSPC,5/1/2023,1425.0,1510.0,1360.0,1455.0,1455.000000,1.798238e+08,0.039286,1420.000000
872,TSPC,6/1/2023,1460.0,1465.0,1405.0,1425.0,1425.000000,1.713630e+07,-0.020619,1426.666667

In [ ]:
# Export to Excel
from google.colab import files

xlsx = result.to_excel('dataset_saham_kesehatan_utama_monthly.xlsx')
files.download('dataset_saham_kesehatan_utama_monthly.xlsx')

## Menghitung Index

In [ ]:
ho=result['Open']*result['Volume']
ht=result['Close']*result['Volume']
IHSG=ht.sum()/ho.sum()*100
IHSG

102.8201016642533